@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

:root {
  --primary-color: #117b34ff;
  --secondary-color: #94ffa5ff;
}

* {
  width: 100%;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.loader {
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.signup-container,
.login-container {
  width: 70vh;
  margin: 0 auto;
  padding: 20px;
  border-style: none;
}

h2 {
  text-align: center;
}

img {
  height: 200px;
}

.form-group {
  margin-bottom: 15px;
  border-color: gray;
}

label {
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.login-btn:hover,
.signup-btn:hover,
.guest-btn:hover {
  background-color: var(--secondary-color);
}

.signup-btn {
  background-color: white;
  color: gray;
}

.response-message {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
}

.response-message.success {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

.response-message.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

/* Main container for the navigation bar */
.navigation-bar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  width: 400px;
  height: 10vh;
  left: 10px;
  top: 10px;
  z-index: 1000;
}

.navigation-bar img {
  width: 100%;
  height: 80px;
  display: block;
  flex-shrink: 0;
}
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.nav-link {
  font-family: Arimo, sans-serif;
  font-size: 16px;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  margin: 10px 20px;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navigation-bar .nav-link.active,
.navigation-bar .nav-link:hover {
  color: var(--primary-color);
  font-weight: bold;
}

.nav-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
}

select {
  width: 526px;
  height: 91px;
  margin: 0px 300px;
  padding-left: 12px;
  padding-right: 34px;
  font-size: 20px;
  border-color: rgb(202, 202, 202);
}

.medical-card {
  display: flex;
  align-items: center;
  border: 2px solid #aeaeae;
  padding: 20px;
  border-radius: 10px;
  width: auto;
  margin: 20px 300px;
  margin-left: 300px;
  margin-right: 300px;
  font-size: 30px;
  gap: 20px;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.medical-card-navigation {
  display: flex;
}
.medical-card-navigation button {
  color: #004e0dff;
  background-color: #94ffa5ff;
  border-style: none;
  margin-top: 20px;
  margin-left: 300px;
  width: 213px;
  height: 51px;
  padding: 0 20px;
  font-size: 20px;
}

.my-appointments-section {
  text-align: center;
}

.calendar-container {
  margin: 30px 300px;
  background: #fff;
  width: auto;
  border-radius: 10px;
  box-shadow: 0 15px 10px rgba(102, 101, 101, 0.12);
}

.calendar-container header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

header .calendar-navigation {
  display: flex;
}

header .calendar-navigation span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  user-select: none;
  color: #aeabab;
  font-size: 1.9rem;
}

.calendar-navigation span:last-child {
  margin-right: -10px;
}

header .calendar-navigation span:hover {
  background: var(--secondary-color);
}

header .calendar-current-date {
  font-weight: 500;
  font-size: 1.45rem;
}

.calendar-body {
  padding: 20px;
}

.calendar-body ul {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
}

.calendar-body .calendar-dates {
  margin-bottom: 20px;
}

.calendar-body li {
  width: calc(100% / 7);
  font-size: 1.07rem;
  color: #414141;
}

.calendar-body .calendar-weekdays li {
  cursor: default;
  font-weight: 500;
}

.calendar-weekdays li {
  color: var(--primary-color);
}
.calendar-body .calendar-dates li {
  margin-top: 30px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.calendar-dates li.inactive {
  color: #aaa;
}

.calendar-dates li.active {
  color: #fff;
}

.calendar-dates li::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.calendar-dates li.active::before {
  background-color: var(--primary-color);
}

.calendar-dates li:not(.active):hover::before {
  background: var(--secondary-color);
}

li.appointment {
  background-color: var(--secondary-color);
  color: white;
  border-radius: 8px;
}

.my-appointments-section button {
  background: var(--secondary-color);
  color: var(--primary-color);
  border-style: none;
  width: 600px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

.map-clinic-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.map-clinic-container h1 {
  font-size: 20px;
}

#map {
  height: 500px;
  width: 50%;
}

.nearby-clinics {
  width: 30%;
  margin-left: 50px;
}

.clinic-cards {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clinic-card {
  width: 50vh;
  height: auto;
  border-style: solid;
  border-color: #f3f4f6ff;
  border-radius: 6px;
  margin-top: 30px;
  padding: 5px;
}
.clinic-card p {
  font-size: 8px;
}

.clinic-card button {
  font-size: 12px;
}

.clinic-card button:hover {
  background-color: var(--secondary-color);
}
.clinic-card-name {
  font-size: 10px;
}

.clinic-card-heading {
  display: flex;
}

.clinic-card img {
  height: 30px;
  width: 30px;
}
.heart-icon {
  margin-left: 250px;
}

.clinic-card-location {
  display: flex;
}

.clinic-card-appointments {
  display: flex;
}
